input,div,ul,li,a,h1,h2,h3,h4,h5{margin: 0px 0px; padding: 0px 0px}
ul,ol{list-style: none;}

body
{
    font-family: Rockwell, Verdana, Arial, SunSans-Regular, Sans-Serif;
    font-size: 25px; 
    background-color: #dbeddc;
    width: 1000px;    
    margin: 0px auto;
}

#header
{
    background-color: #93d694;
    margin: 5px 0px;
    padding: 5px 5px;
    color: white;
	overflow: hidden
}
#header h1 
{
    font-size: 20px;
    font-weight: bold;
    float: left;
}
#header #search 
{
	color: #AAA;
	margin-left: 200px;
}
#header #name {
	float:right; 
	color: white;
}
#header #nav_bar 
{
    float: right;
}
#nav_bar li 
{
	float: left;
}


#main {
  background: white;
  clear: both;
}





/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
        width: 1000px;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

