<!DOCTYPE html>
<html>
<head>
  <title>Group</title>
  <%= stylesheet_link_tag    "application", "group" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<h1>Group</h1>
		<input type="text" id="search" name="search" value="Search"/>
		<ul id="nav_bar">
			<li><a href="profile.html">Xiao Qiang Wu</a></li>
			<li><a href="user.html">News Feed</a></li>
			<li><a href="user.html">Groups</a></li>
        </ul>
    </div>

	<div id="main">	
		<%= yield %>
	</div>
</body>
</html>
